@import '~bootstrap/scss/bootstrap.scss';

body{
    background-color: rgb(78, 72, 72);
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #221f1f;
    border: 1px solid rgba(226, 143, 143, 0.541);
    color: aliceblue;
    align-items: center;
}